<h2>Sign up</h2>





<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

   
    <% resource.build_profile %>


    <%= f.fields_for :profile do |f| %>
      	<%= f.label :person %> <br />
     	<%= f.text_field :person %>
     <% end %>
   


    <%= f.button :submit %>
   
 <% end %>
